---
import BaseHead from '../components/base_head.astro';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="index" id="index">
				<h1>Izzy Stein</h1>
				<h2>Computer Science Major for Bachelor of Science at Rensselaer Polytechnic Institute</h2>
			</div>
			<div class="about" id="about">
				<h1>About</h1>
				<p>
					about filler
				</p>
			</div>
			<div class="projects" id="projects">
				<h1>Projects</h1>
				<p>
					projects filler
				</p>
			</div>
			<div class="blog" id="blog">
				<h1>Blog</h1>
				<p>
					blog filler
					This might just go to the concealed vacations blog since that's already got a lot of stuff in it, although there's a pretty sizeable gap since the last post.
				</p>
			</div>
		</main>
		<Footer />
	</body>
</html>