---
import BaseHead from '../components/base_head.astro';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="index" id="index">
				<h1>Izzy Stein</h1>
				<h3>Computer Science Major for Bachelor of Science at Rensselaer Polytechnic Institute</h3>
			</div>
			<div class="about" id="about">
				<h1>About</h1>
				<p>
					I'm a full stack developer with experience in a variety of languages and frameworks. 
					I'm passionate about open source and have contributed to several projects. 
					I'm also interested in data science, and have expierence with PostgreSQL, Docker, and AWS. 
					I'm currently looking for internships and full-time positions in software development, data science, and related fields.
				</p>
			</div>
			<div class="projects" id="projects">
				<h1>Projects</h1>
				<h3>Open Source Contributions</h3>
				<p>
					<h5>EzASM</h5>
					<p>
						Sponsered by Western Digital, EzASM is an open source project that aims to create an assembly-like programming language that demonstrates the conecepts of a lower level assembly language while still being easier to write.<br>
						<a href="https://github.com/ezasm-org/ezasm" target="_blank">Github</a>
					</p>

					<h5>LEGUP</h5>
					<p>
						LEGUP is an open source project that allows users to prove their mathematical logic and theorem proving techniques by solving common puzzles such as sudoku and minesweeper, then requiring users link what theorems they used to solve the puzzle.<br>
						<a href="https://github.com/Bram-Hub/LEGUP" target="_blank">Github</a>
					</p>

					<h5>Shubble</h5>
					<p>
						Shubble is an open source project that allows users to easily track and predict the RPI shuttle system, providing real-time updates on shuttle locations and estimated arrival times.<br>
						<a href="https://shuttles.rpi.edu/" target="_blank">Website</a><br>
						<a href="https://github.com/wtg/shubble" target="_blank">Github</a>
					</p>
				</p>
				<h3>Personal Projects</h3>
				<p>
					<h5>Website</h5>
					<p>
						The website you're on right now! I built this website using Astro, a modern static site generator.<br>
						<a href="https://github.com/offline171/offline171.github.io" target="_blank">Github</a>
					</p>

					<h5>Budget Tracker</h5>
					<p>
						A budget tracking application that allows users to track their expenses and income, set budgets, and visualize their spending habits.<br>
						<a href="https://github.com/offline171/Budget" target="_blank">Github</a>
					</p>

					<h5>Vacation Library</h5>
					<p>
						A vacation tracking application that allows users to browse vacations, bookmark ones they like for later, and rate vacations they've been to.<br>
						<a href="https://github.com/offline171/Vacations" target="_blank">Github</a>
					</p>
					
				</p>
			</div>
			<div class="blog" id="blog">
				<h1>Blog</h1>
				<p>
					This is where I post about my projects, progress, and what I'm doing in my leadership roles.<br>
					<a href="https://www.concealedvacations.com/" target="_blank">Blog Website</a><br>
					<a href="https://github.com/offline171/basicconcealedvacations" target="_blank">Github</a>
				</p>
			</div>
		</main>
		<Footer />
	</body>
</html>